#list-container {
  width: 100%;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list {
  max-width: 950px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-size: cover;
  background-position: center;
}

.card {
  color: white;
  ;
  width: 400px;
  height: 350px;
  overflow: hidden;
  background: rgba(0, 0, 0, .7);
  position: relative;
}

.card p {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.star-card {
  padding: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  
}

.star-checked {
  color: orange;
}

.fa-heart {
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  font-size: 25px;
}

.heart-checked {
  color: red;
}

.fa-cog {
  padding: 10px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  font-size: 25px;
}

.cog-checked {
  color: white;
}