input[type=search] {
    padding: 10px;
    margin: 10px;
    border: 2px solid darkgray;
    font-size: 25px;
}

.star-menu {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    direction: rtl;

}


.star-menu span:hover, .star-menu span:hover ~ span {
  color: orange;
  cursor: pointer;
}
.star-menu span:active {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
